<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Okc_API_Automation">
    <test name="Regression">
        <classes>
            <class name="day7.ApiChaining"/>
            <class name="day7.getUser"/>
            <class name="day7.UpdateUser"/>
            <class name="day7.DeleteUser"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->